body {
    overflow-x: hidden;
}

.atas {
    background-color: rgb(255, 255, 255);
width: 100%;
height: 131px;
left: 0px;
top: 0px;
}

.logo {
    position: flex;
width: 241.21px;
height: 79px;
left: 44px;
top: 26px;
margin-left: 100px;
}

.nav {
    position: flex;
width: 100%;
height: 39px;
left: 472px;
top: 46px;
align-items: center;
}

.jarak {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    font-weight: 400;
}

.containers {
    /* margin-top: 130px; */
    background-image: url('../img/Rectangle\ 95.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
    background-position: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.inmg {
    color: aliceblue;
}

.inmg h4 {
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    /* or 100% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    
    color: #FFFFFF;
}

.inmg h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 24px;
    /* or 67% */
    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.011em;
    
    color: #FFFFFF;
}

footer {
    background-color: #1C99F7;
    width: 100%;
    height: 100px;
    position: relative;
}

.kaki {
    /* text-align: right; */
    text-align: end;
    padding-top: 3vh ;
    padding-right: 12vh;
}

button {
background-color: #1C99F7;
position: flex;
width: 230px;
height: 80px;
border: none;
}

.containerd {
    display: flex;
    justify-content: center;
}